<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First name:
  </label>
  <input id="firstName" formControlName="firstName" class="form-control" required>
  <div *ngIf="firstName.invalid &&(firstName.dirty || firstName.touched)" class="alert alert-danger">
    <div *ngIf="firstName.errors.required">
      Name is required
    </div>
    <div *ngIf="firstName.errors.minlength">
      Name must be 4 characters long
    </div>
    <div *ngIf="firstName.errors.forbiddenName">
      Name can not be Bob.
    </div>
  </div>
  <label>Last name:
    <input formControlName="lastName">
  </label>
  <div formGroupName="address">
    <label>Street:
      <input formControlName="street">
    </label>
    <label>City:
      <input formControlName="city">
    </label>
    <label>State:
      <input formControlName="state">
    </label>
    <label>Zip:
      <input formControlName="zip">
    </label>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias: </button>
    <div *ngFor="let address of aliases.controls; let i=index">
      <label>Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p>

<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>

<hr>




<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
