/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
button {
  font-family: Arial, serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.hero-profile {
  border: 1px solid gray;
  padding: 5px 5px 20px 20px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
}

.job-ad {
  border: 1px solid gray;
  padding: 5px 5px 20px 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
}

.ad-banner-example {
  width: 400px;
  height: 230px;
}
.unless {
  border: 2px solid;
  padding: 6px;
}

p.unless {
  width: 500px;
}

button.a, span.a, .unless.a {
  color: red;
  border-color: gold;
  background-color: yellow;
  font-size: 100%;
}

button.b, span.b, .unless.b {
  color: black;
  border-color: green;
  background-color: lightgreen;
  font-size: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
